// Sizes

$combobox-max-width: 45rem;

$combobox-height: 4.3125rem;
$combobox-height-mobile: 2.15625rem;

$keyword-height: 2.3125rem;

$icons-size: 1.001875rem;

// Padding

$combobox-padding-x: 1.1875rem;

// Position

$label-and-dropdrown-btn-posY: 1.791rem;

// Font size

$main-text-font-size: 1.125rem;
$main-text-font-size-mobile: 0.875rem;

$recipe-card-infos-font-size: 0.75rem;

$recipe-card-infos-font-size-mobile: 0.625rem;

// Text color

$text-primary: #fff;
$text-secondary: #000;


// Background color

$bg-primary: #3282F7;
$bg-secondary: #68D9A4;
$bg-tertiary: #ED6454;

$bg-light: #E7E7E7;
$bg-dark: #C7BEBE;

$bg-black: #000;

$bg-body: #fff;

// Border

$sm-bevel: 0.3125rem;

// Margins and paddings

$row-gutter: 1.5625rem;

$filters-wrapper-row-gutter: 5.125rem;

